## ignore BACKEND

# виртуальное окружение
venv/
env/

# локальные настройки
local_settings.py

# файлы журналов и временные файлы
*.log
*.pot
*.pyc
__pycache__/
*.swp

# IDE
.idea/

# Файлы окружения
.env
docker-compose.env

# БД
/src/server/db.sqlite3
/src/server/static/

## ignore FRONTEND
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?